[build]
  command = "npm run build"
  publish = "dist"

[build.environment]
  NODE_VERSION = "18.20.4"

[build.processing]
  skip_processing = false

[build.processing.secrets]
  enabled = false

[[headers]]
  for = "/*"
  [headers.values]
    Content-Security-Policy = "img-src 'self' data: https: blob:; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://js.stripe.com https://checkout.stripe.com https://www.googletagmanager.com; frame-src 'self' https://js.stripe.com https://checkout.stripe.com; connect-src 'self' https://api.openai.com https://api.elevenlabs.io https://*.supabase.co https://*.supabase.com wss://*.supabase.co https://www.google-analytics.com"
